
body {
  margin: 0;
  padding: 0;
  font-family: lato, sans-serif;
  color: #333;
}


.background_img {
  background-image: url("/image/bg.jpeg");
  width: 100%;
  height: auto;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}

img {
  border: 0;
}

.wrap {
  width: 100%;
}

.wrap > nav,
.wrap > div,
.wrap > main,
.wrap > section,
.wrap > article {
  max-width: 1100px;
  width: 98%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .wrap > nav,
  .wrap > div,
  .wrap > main,
  .wrap > section,
  .wrap > article {
    width: 90%;
  }
}

.header_wrap {
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
  position: relative;
}

@media screen and (max-width: 768px) {
  .header_wrap {
    display: none;
  }
}

.mobile_logo_wrap {
  display: block;
  width: 100%;
  text-align: center;
  margin: 1em 0;
}

@media screen and (min-width: 768px) {
  .mobile_logo_wrap {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .mobile_logo_wrap {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .mobile_menu_wrap {
    display: none;
  }
}

.mobile_menu_wrap .mobile_menu_button {
  position: absolute;
  top: 35px;
  left: 20px;
  z-index: 1;
}

.mobile_menu_wrap .mobile_menu_button img {
  width: 20px;
}

.mobile_menu_wrap .mobile_menu_back {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  /*display: none;*/
  width: 85%;
  background: #272a32;
  filter: alpha(opacity=95);
  opacity: 0.95;
}

.mobile_menu_wrap .mobile_menu_back .mobile_b_menu {
  position: relative;
  font-size: 1em;
  height: 2.5em;
  line-height: 2.5em;
  color: #fff;
  width: calc(85% - 4px);
  padding: 0 25px;
  border-top: 1px solid #3c3f46;
}

.mobile_menu_wrap .mobile_menu_back .mobile_b_menu.right {
  text-align: right;
}

.mobile_menu_wrap .mobile_menu_back .mobile_b_menu:last-child {
  border-bottom: 1px solid #3c3f46;
}

.topmenu_wrap {
  background-color: #3e3e3e;
}

@media screen and (max-width: 768px) {
  .topmenu_wrap {
    display: none;
  }
}

.top_menu {
  height: 36px;
  background-color: #3e3e3e;
  text-align: right;
  line-height: 36px;
  vertical-align: middle;
}

.top_menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
}

.top_menu ul li {
  display: inline-block;
  margin: 0 20px 0 0;
  padding: 0;
}

.top_menu ul li a {
  color: #fff;
  font-size: 1em;
  text-decoration: none;
}

.top_menu ul li a:hover {
  text-decoration: underline;
}

.top_menu ul li i {
  vertical-align: middle;
}

.main_menu {
  height: 80px;
  line-height: 80px;
}

.main_menu .main_logo {
  width: 130px;
  height: 80px;
  float: left;
}

.main_menu .main_logo img {
  vertical-align: middle;
}

.main_menu .menus {
  width: calc(100% - 130px);
  height: 80px;
  float: right;
  color: #000;
  text-align: right;
  vertical-align: middle;
  position: relative;
}

.main_menu .menus ul {
  margin: 15px 0;
  padding: 0;
  list-style: none;
  line-height: 40px;
  float: right;
}

.main_menu .menus ul li {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.main_menu .menus ul li a {
  margin: 0 25px;
  color: #888;
  font-size: 0.938em;
  font-weight: bold;
  text-decoration: none;
  vertical-align: middle;
}

.mobile_menu_wrap .mobile_menu_back .mobile_b_menu a {
  color: #fff;
  text-decoration: none;
}

.mobile_menu_wrap .mobile_menu_back .mobile_b_menu a:hover,
.main_menu .menus ul li a:hover {
  color: #ef513c;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.main_invite_wrap {
  height: 855px;
  background-image: url(/images/base/main_big.png);
  background-repeat: repeat-x;
  background-position: center; }
  @media screen and (max-width: 640px) {
    .main_invite_wrap {
      background: url("/images/base/mobile_intro_bg.png") no-repeat top;
      height: auto; } }
  @media screen and (max-width: 1000px) and (min-width: 640px) {
    .main_invite_wrap {
      background-position: top center;
      background-size: auto;
      height: auto; } }
  .main_invite_wrap section {
    padding-top: 140px; }
    @media screen and (max-width: 1000px) {
      .main_invite_wrap section {
        text-align: center;
        padding-top: 51px; } }
    @media screen and (max-width: 1000px) {
      .main_invite_wrap section img {
        width: 90%; } }
    .main_invite_wrap section div.message {
      text-align: justify;
      height: 90px;
      width: 631px;
      border: 4px solid #fff;
      background-color: #f7f7f8;
      margin: 15px 0 40px;
      line-height: 220%;
      padding: 10px 25px 0;
      font-size: 1.125em; }
      @media screen and (max-width: 1000px) {
        .main_invite_wrap section div.message {
          margin: 17px 0.75em 0 0.75em;
          width: calc(100% - 2.500em);
          padding: 1.0em 0.5em;
          line-height: 150%;
          font-size: 13px;
          height: auto;
          text-align: justify;
          word-break: break-all; } }
    .main_invite_wrap section div.location, .main_invite_wrap section .schedule .timetable table tr td div.oneline_location, .schedule .timetable table tr td .main_invite_wrap section 
    .main_invite_wrap section div.oneline_location .dateinfo {
      font: bold 36px Verdana;
      color: #575757;
      letter-spacing: -2px;
      margin-bottom: 10px; }
      @media screen and (max-width: 1000px) {
        .main_invite_wrap section div.location .dateinfo, .main_invite_wrap section .schedule .timetable table tr td div.oneline_location .dateinfo, .schedule .timetable table tr td .main_invite_wrap section div.oneline_location .dateinfo {
          font-size: 15px;
          font-weight: bold;
          width: 90%;
          display: inline-block;
          text-align: center;
          margin-bottom: 4px;
          letter-spacing: 0; } }
    .main_invite_wrap section div.location .locate, .main_invite_wrap section .schedule .timetable table tr td div.oneline_location .locate, .schedule .timetable table tr td .main_invite_wrap section div.oneline_location .locate {
      text-align: left; }
      @media screen and (max-width: 1000px) {
        .main_invite_wrap section div.location .locate, .main_invite_wrap section .schedule .timetable table tr td div.oneline_location .locate, .schedule .timetable table tr td .main_invite_wrap section div.oneline_location .locate {
          font-size: 15px;
          width: 90%;
          display: inline-block;
          text-align: center; } }